<div class="loading-indicator" *ngIf="show == true">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>


<mat-toolbar color="primary" style="min-height: 55px !important; height: 55px !important;" class="mat-elevation-z6">
  <span class="font-14">Certidigital DApp</span>
  <span class="example-spacer"></span>
  <span class="font-14">Balance : {{balance}} ETH</span>
</mat-toolbar>


<mat-tab-group dynamicHeight mat-align-tabs="center">
  <mat-tab *ngIf="soyOwner">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">add</mat-icon>
    </ng-template>
    <div class="text-center">
      <h3>Agregar Certificado</h3>
      <div class="example-form margin-auto">
        <input #pdfInputEncrypt
               type="file"
               placeholder="hashFile"
               accept="application/pdf"
               (change)="encriptarCertificado(pdfInputEncrypt)">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Título</mat-label>
          <input type="text" matInput placeholder="Título" [(ngModel)]="titulo">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Address Receptor</mat-label>
          <input type="text" matInput placeholder="Receptor Address" [(ngModel)]="receptor">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Fecha Emisión</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="fechaEmision">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Fecha Expiración</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaExpiracion">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>URL Cover</mat-label>
          <input type="text" matInput placeholder="URL Cover" [(ngModel)]="urlCover">
        </mat-form-field>
        <button class="example-full-width" mat-raised-button color="primary"
                (click)="certificar()">Agregar Certificado
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">search</mat-icon>
    </ng-template>
    <div class="text-center">
      <h3>Verificar Certificado</h3>
      <div class="example-form margin-auto">
        <input #pdfInputSearch
               type="file"
               accept="application/pdf"
               (change)="searchFile(pdfInputSearch)">
      </div>
    </div>
    <mat-grid-list cols="2" gutterSize="20px">
      <mat-grid-tile *ngFor="let certificado of totalCertificados">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{certificado.titulo}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{certificado.urlCover}}"
               alt="Photo of a Certificate">
          <mat-card-content>
            <h5>Emisor</h5>
            <p>{{certificado.emisor}}</p>
            <h5>Receptor</h5>
            <p>{{certificado.receptor}}</p>
            <h5>Emisión</h5>
            <p>{{certificado.fechaEmision}}</p>
            <h5>Expiración</h5>
            <p>{{certificado.fechaExpiracion}}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>
