<div class="loading-indicator" *ngIf="show == true">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>


<mat-toolbar color="primary" style="min-height: 55px !important; height: 55px !important;" class="mat-elevation-z6">
  <span class="font-14">Certidigital DApp</span>
  <span class="example-spacer"></span>
  <span class="font-14">Balance : {{balance}} ETH</span>
</mat-toolbar>


<mat-tab-group mat-stretch-tabs>
  <mat-tab *ngIf="soyOwner">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">add</mat-icon>
    </ng-template>
    <div class="text-center">
      <h3>Agregar Certificado</h3>
      <div class="example-form margin-auto">
        <input #pdfInputEncrypt
               type="file"
               placeholder="hashFile"
               accept="application/pdf"
               (change)="processFile(pdfInputEncrypt)">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Título</mat-label>
          <input type="text" matInput placeholder="Título" [(ngModel)]="titulo">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Address Receptor</mat-label>
          <input type="text" matInput placeholder="Receptor Address" [(ngModel)]="receptor">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Fecha Emisión</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="fechaEmision">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Fecha Expiración</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaExpiracion">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <button class="example-full-width" mat-raised-button color="primary"
                (click)="certificar()">Agregar Certificado
        </button>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">search</mat-icon>
    </ng-template>
    <div class="text-center">
      <h3>Verificar Certificado</h3>
      <div class="example-form margin-auto">
        <input #pdfInputSearch
               type="file"
               accept="application/pdf"
               (change)="searchFile(pdfInputSearch)">
      </div>
    </div>

    <mat-list>
      <h2 mat-subheader>Verificados</h2>
      <mat-list-item *ngFor="let certificado of totalCertificados">
        <img matListAvatar src="../assets/ethereum.png" alt="icon">
        <h4 mat-line>Emisor: {{certificado.emisor}}</h4>
        <h4 mat-line>Título: {{certificado.titulo}}</h4>
        <h4 mat-line>Receptor: {{certificado.receptor}}</h4>
        <h4 mat-line>Emisión: {{certificado.fechaEmision}}</h4>
        <h4 mat-line>Expiración: {{certificado.fechaExpiracion}}</h4>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>
